.artist {
    height: 200px;
    width: 300px;
    margin-top: 2%;
    padding: 5px;
    font-family: Spartan;
    font-size: 12pt;
    color: darkslategray;
    text-align: center;
    border: solid 3px darkslategray;
    border-radius: 10px;
}

h3 {
    font-family: Russo One;
    font-size: 20pt;
    color: darkcyan;
}